/* body{
   max-width: 100%;
   margin: auto;
} */
.nav-hero {
    background-color: #141623;
    color: white;
    padding: 70px;
    margin: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
}

/* section{
    display: flex;
    justify-content: space-between;
} */

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    list-style: none;
    text-decoration: none;
    margin-right: 42px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text h2 {
    font-size: 70px;
    padding: 10px 30px;
}

.hero-text p {
    font-size: 30px;
    margin-left: 27px;
    padding-bottom: 10px;
}

.hero-texts a {
    background-color: green;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 16px;
}


.hero-text a {
    background-color: green;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 4%;
}

.hero-image img {
    width: 450px;
    height: 450px;
}

.service h2 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}

.heros-image img{
    height: 600px;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 300px;
    height: 280px;
    text-align: center;
    background: #e4e4e4;
    padding: 70px 50px;
    box-shadow:
}


.sot h2 {
     
    margin-top: 15%;
    font-size: 50px;

}

.sot p {
    font: size: 15px;
    font-weight: 5%;
    padding-bottom: 10px;
}

.service p {
    text-align: center;
}